*.pdf
*.mp4
*.ppt
*.pptx
*.avi
*.png
*.ckpt
*.docx
*.doc
*.mkv
*.avi
*.txt
*.jpg
*.jpeg
*.xlsx
*.xls
*.onnx
*.pth
*wandb*
*.pickle
*.nvm
*.pt
*.pkl
*.zip
__pycache__/
*.pyc
out/
*.png
Final_Project/models/
pdf/
Dataset
.vscode
data/
wandb/
*.path
checkpoints/
*.npy
__pycache__
emojis/
vanilla_gan/
cycle_gan/